@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

header{
  color: rgb(0, 0, 0);
  font-family: 'Poppins';
  font-size: x-large;
  font-weight: bolder;
  color: deepskyblue;
}
.container{
  box-sizing: border-box;
 
}
.btn btn-primary{
  border: black 1px solid;
}
.frame{
  display: inline-grid;
  
}